<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Você é Dev e quer criar aplicações baseadas em machine learning (ML)? Nessa newsletter eu regularmente explico conceitos, práticas e técnicas de ML para devs</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Outros cursos</span></h5>
        <a href="https://gustavopinto.gumroad.com/l/chat-llm"><img src="{{site.baseurl}}/assets/images/ad.png"></a>
    </div>
</div>